@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./affectedSite.css";
@import "./scrollbar.css";

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

* {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
  overflow: hidden;
}
#nprogress .bar {
  display: none !important;
}
.header-top h1 {
  padding: 0 !important;
}

.scroll-v {
  overflow-y: auto;
}

.scroll-v::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.scroll-v::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.scroll-v::-webkit-scrollbar-thumb {
  background-color: #121212;
  border-radius: 6px;
}

.Toastify__toast--info::before {
  content: url("/images/icons/icon-tick.svg");
  position: relative;
  z-index: 100000;
  left: 12px;
  top: 12px;
  margin-right: 14px;
}

.Toastify__toast-icon {
  display: none !important;
}

.pre-design {
  text-align: left;
  outline: none;
  outline-color: red;
}

.react-multi-carousel-track {
  padding-bottom: 80px !important;
}

.react-multi-carousel-dot-list {
  bottom: 10px !important;
}

.react-multiple-carousel__arrow--left {
  left: calc(22% + 1px) !important;
}

.react-multiple-carousel__arrow--right {
  right: calc(22% + 1px) !important;
}

.custom-dot-list-style .react-multi-carousel-dot button {
  border: none;
  background: #ededed;
  width: 8px;
  height: 8px;
}

.custom-dot-list-style
  .react-multi-carousel-dot.react-multi-carousel-dot--active
  button {
  background: #3b82f6;
}

.react-multiple-carousel__arrow {
  bottom: 0 !important;
  background: #fff !important;
  border: 1px solid #e5efff !important;
}

.react-multiple-carousel__arrow:before {
  color: #4c4c4c !important;
  font-weight: 600;
  font-size: 18px !important;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightgray;
}

.auth-content {
  padding: 30px 0;
}

.ant-upload-select {
  width: 100%;
}

.ant-select {
  height: 45px;
}

.ant-select-selector {
  border: 1px solid #e8e8e8;
  border-radius: 8px !important;
  height: 45px;
}

.ant-form-item-label {
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  border-color: #3b82f6;
  background-color: #fff;
}

.ant-radio-wrapper .ant-radio-inner::after {
  background-color: #3b82f6;
}

.ant-radio-wrapper .ant-radio-inner {
  width: 21px;
  height: 21px;
}

.ant-radio-wrapper .ant-radio-checked .ant-radio-inner::after {
  transform: scale(0.6);
}

.ant-steps {
  max-width: 165px !important;
  justify-content: center;
  margin: 0 auto 30px;
}
/* .ant-steps-item-icon .ant-steps-icon {
    top: 7.5px !important;
} */

.ant-steps .ant-steps-item-process .ant-steps-item-icon,
.ant-steps .ant-steps-item-finish .ant-steps-item-icon {
  background-color: #3b82f6;
  border-color: #3b82f6;
}

.ant-steps .ant-steps-item-finish .ant-steps-item-icon svg {
  color: #fff;
}

.ant-steps
  .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: #3b82f6;
}

.ant-steps .ant-steps-item-title {
  font-size: 12px;
  font-weight: 400 !important;
  color: #828282 !important;
  margin-top: 8px;
}

.ant-steps .ant-steps-item-active .ant-steps-item-title,
.ant-steps .ant-steps-item-finish .ant-steps-item-title {
  color: #3b82f6 !important;
  font-weight: 500 !important;
}

.ant-steps.ant-steps-label-vertical .ant-steps-item-content {
  margin-top: 0px;
  padding-inline-end: 75px;
}

.ant-steps .ant-steps-item-tail::after {
  background-color: transparent !important;
  background: transparent !important;
  height: auto;
  border-top: 2px dashed #edeef3;
  border-radius: inherit;
}

.ant-steps.ant-steps-label-vertical .ant-steps-item-content {
  width: 200px;
}

.ant-steps.ant-steps-label-vertical .ant-steps-item-icon {
  margin-inline-start: 45px;
}

/* tabs */

.ant-tabs .ant-tabs-nav-wrap {
  margin-bottom: 10px;
}

.ant-tabs .ant-tabs-nav:before {
  border-bottom: 0;
}

.ant-tabs .ant-tabs-tab {
  color: #4c4c4c;
  background: #fff !important;
  margin: 0 !important;
  padding: 15px 25px !important;
  justify-content: center;
  border-radius: 0 !important;
  border: 0 !important;
  font-weight: 500;
  border-bottom: 1px solid #e8e8e8 !important;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active {
  background: #3b82f614 !important;
  font-weight: 600;
  border-bottom: 1px solid #3b82f6 !important;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
.ant-tabs .ant-tabs-tab:hover,
.ant-tabs .ant-tabs-tab-btn:focus {
  color: #3b82f6;
}

.ant-tabs .ant-tabs-tab-btn:hover,
.ant-tabs .ant-tabs-tab-btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.ant-tabs .ant-tabs-ink-bar {
  background: #3b82f6;
}

.ant-select-focused .ant-select-selector,
.ant-select-selector:hover,
.ant-select-outlined:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer):hover
  .ant-select-selector {
  border-color: "#3B82F6" !important;
  box-shadow: none !important;
}

.ant-radio-wrapper:hover .ant-radio-inner,
.ant-input-outlined:hover,
.ant-input-outlined:focus {
  border-color: #3b82f6;
}

/* Table */

.ant-table .ant-table-container {
  border: 1px solid #e7e7e7;
  box-shadow: 0px 0px 6px 0px #41414124;
  border-radius: 8px;
}

.ant-table-wrapper .ant-table-thead > tr > th {
  background: #eef2f7;
  color: #828282 !important;
  font-weight: 600 !important;
  font-size: 16px;
  color: #121212;
  text-align: center;
}

.ant-table-tbody .ant-table-row .ant-table-cell {
  border-bottom: 1px solid #ebe7e7;
  background: #fff;
  font-size: 16px;
  color: #121212;
  text-align: center;
}

.ant-table-thead tr:last-child .ant-table-cell:first-child {
  border-radius: 16px 0 0 0;
}

.ant-table-thead tr:last-child .ant-table-cell:last-child {
  border-radius: 0 8px 0 0;
}

.ant-table-tbody .ant-table-row:last-child .ant-table-cell:first-child {
  border-radius: 0 0 0 8px;
}

.ant-table-tbody .ant-table-row:last-child .ant-table-cell:last-child {
  border-radius: 0 0 8px 0;
}

.ant-pagination .ant-pagination-item-active,
.ant-pagination .ant-pagination-item-active:hover {
  border-color: #3b82f6;
  background: #fff;
}

.ant-pagination .ant-pagination-item-active a {
  color: #3b82f6;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #3b82f6 !important;
  border-color: #3b82f6 !important;
}

.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover
  .ant-checkbox-inner,
:where(.css-dev-only-do-not-override-1gwfwyx).ant-checkbox:not(
    .ant-checkbox-disabled
  ):hover
  .ant-checkbox-inner {
  border-color: #3b82f6 !important;
  box-shadow: none;
}

.ant-upload-list-item-thumbnail .anticon-spin {
  color: #3b82f6 !important;
}

.affected-site-tab {
  .ant-tabs-nav-list {
    display: flex !important;
    width: 100%;
  }

  .ant-tabs-tab {
    flex: 1 1 0 !important;
    justify-content: center !important;
    text-align: center !important;
  }
  .ant-tabs-nav-operation {
    display: none;
  }
}
.payment-modal .ant-radio-group {
  width: 100%;
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.payment-modal .ant-radio-button-wrapper {
  height: auto;
  width: 100%;
  padding: 15px 16px 8px;
  border: 2px solid #cecece;
  border-radius: 6px;
  color: #cecece;
  font-size: 16px;
  font-weight: 600;
}

.payment-modal .ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
  border: 2px solid #3b82f6;
  color: #3b82f6;
}

.payment-modal .ant-radio-button-wrapper:not(:first-child)::before {
  display: none;
}

.ant-upload-list-item-action .anticon-delete {
  color: #f84a00 !important;
}

.ant-upload-list-item-progress .ant-progress-bg {
  background-color: #0d9488 !important;
}

.max-w-screen-xl {
  max-width: 1310px;
}

#features .ant-col-lg-6 {
  border-left: 1px solid #e5efff;
  padding: 0 30px;
  position: relative;
}

#features .ant-col-lg-6:before {
  content: "";
  width: 1px;
  height: 70px;
  background: #9e00ff;
  position: absolute;
  left: -1px;
  top: 50%;
  margin-top: -35px;
}

#features .ant-col-lg-6:nth-child(2):before {
  background: #ff7222;
}

#features .ant-col-lg-6:nth-child(3):before {
  background: #12d4ff;
}

#features .ant-col-lg-6:nth-child(4):before {
  background: #5edc11;
}

#testimonials .react-multiple-carousel__arrow {
  top: 80px !important;
  bottom: unset !important;
  background: transparent !important;
  border: 1px solid #fff !important;
}

#testimonials .react-multiple-carousel__arrow:hover {
  background: #fff !important;
}

#testimonials .react-multiple-carousel__arrow--left {
  left: calc(6% + 1px) !important;
}

#testimonials .react-multiple-carousel__arrow--right {
  right: calc(6% + 1px) !important;
}

#testimonials .react-multiple-carousel__arrow:before {
  color: #fff !important;
  font-size: 14px !important;
}

#testimonials .react-multiple-carousel__arrow:hover:before {
  color: #3b82f6 !important;
}

.ant-progress .ant-progress-inner {
  background-color: #e2e8f0;
}

.ant-progress .ant-progress-bg {
  background: #0d9488;
  height: 4px !important;
}

.ant-upload-list {
  display: none;
}

.ant-modal .payment-card {
  min-width: 100% !important;
  width: 100% !important;
}
@media only screen and (max-width: 1200px) {
  .ant-steps {
    display: flex !important;
    flex-direction: column !important;
  }
  .ant-steps .ant-steps-item-tail::after {
    border: none;
  }
}

@media only screen and (min-width: 1600px) {
  .max-w-screen-xl {
    max-width: 1480px;
  }
}

@media only screen and (min-width: 1800px) {
  .max-w-screen-xl {
    max-width: 1680px;
  }
}

@media only screen and (min-width: 2100px) {
  .max-w-screen-xl {
    max-width: 1800px;
  }
}

@media only screen and (max-width: 767px) {
  #testimonials .react-multiple-carousel__arrow--left {
    left: calc(0% + 1px) !important;
  }

  #testimonials .react-multiple-carousel__arrow--right {
    right: calc(0% + 1px) !important;
  }

  #testimonials .react-multiple-carousel__arrow {
    min-width: 35px !important;
    min-height: 35px !important;
    top: 120px !important;
  }
}

@media only screen and (max-width: 576px) {
  .ant-steps .ant-steps-item-title {
    margin-top: 0;
  }

  .ant-steps {
    margin: 0 auto 20px;
  }
}

.spin-blue .ant-spin-dot-item {
  background: #3b82f6;
}
.spin-white .ant-spin-dot-item {
  background: #ffff;
}

.inputStyle {
  width: 60px !important;
  height: 56px;
  border-radius: 8px;
  border: 2px solid #a8a9b4;
  margin-left: 5px;
  margin-right: 5px;
  background: transparent !important;
  font-size: 24px;
  color: #a8a9b4;
  font: 800;
  text-align: center;
}

.damage-uploader {
  .ant-upload,
  ant-upload-select {
    width: 100% !important;
  }
}
