.custom-table .ant-table-container {
  background: transparent !important;
  border: none !important;
  background: transparent !important;
}

.custom-table .ant-table-content {
  background: transparent !important;
}

.custom-table .ant-table-thead > tr > th {
  background: transparent !important;
  border: none !important;
}

/* .custom-table .ant-table-tbody > tr > td {
  background: transparent !important;
  border: none !important;
} */

.custom-table .ant-table {
  border: none !important;
  background: transparent !important;
}

.custom-table .ant-table-tbody > tr:hover > td {
  background-color: rgba(0, 0, 0, 0.03) !important;
}
